<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="new.css">
</head>
<body>
    <div class="form">
    <form action="">
        <label>Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
        <input type="text" placeholder="Your Name"> <br><br><br>
        <label>Bank Account Number:&nbsp;&nbsp;&nbsp;&nbsp; </label>
        <input type="number" placeholder="Bank Account Number">
        <br><br><br>
        <label>IFSC Code:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
        <input type="text" placeholder="IFSC Code">
        <br><br><br>
        <input type="submit" value="Update Bank Details">
    </div>
    </form>
</body>
</html>